@font-face {
  font-family: "Open-sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open-sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open-sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open-sans";
  font-weight: 400;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
input[type="search"] {
  outline: none;
  background-color: inherit;
}
::placeholder {
  color: white;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}
h1,
h2,
h4,
h3,
h5 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
:root {
  --LightFiol: #9d5cd0;
  --DarkFiol: #7943a4;
  --RegularFiol: #c283f3;
  --fontSizeTitle: 48px;
}
:focus {
  outline: 2px solid var(--LightFiol);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.focus-svg:focus {
  outline: none;
  border: 3px solid var(--LightFiol);
  border-radius: 25px;
}
.swiper-button-prev,.swiper-button-next{
outline: none;
}


/* header */
.header {
  min-height: 170px;
  position: relative;
  z-index: 100;
}
.header__first-menu {
  background-color: black;
}
.header__first-menu-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.header__logo {
  max-width: 173px;
  height: 40px;
}

.main-menu__list {
  display: flex;
  padding-right: 46px;
}

.main-menu__items {
  margin-right: 66px;
}

.main-menu__hrefs {
  font-size: 18px;
  color: white;
}
.main-menu__hrefs:hover {
  color: var(--RegularFiol);
  transition: color 0.2s ease-out;
}
.main-menu__hrefs:active{
  color: var(--DarkFiol);
}
.header__login {
  position: relative;
  color: white;
  
  
}
.header_svg-login {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 60px;
  top: 3px;
}
.header__login:focus{
  border: 1px solid var(--RegularFiol);
}
.header__login:hover {
  color: var(--RegularFiol);
  transition: color 0.2s ease-out;
}
.header__login:active{
  color: var(--DarkFiol);
}

.header__second-menu {
  max-width: 100%;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__second-menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}


.genrel-menu__list {
  display: flex;
  position: relative;
}
.genrel-menu__items:not(:last-child) {
  margin-right: 112px;
}
.genrel-menu__btn {
  color: white;
}
.general-menu__svg {
  width: 15px;
  stroke: initial;
}
.genrel-menu__btn:hover {
  color: var(--LightFiol);
  transition: color 0.2s ease-out;
}
.genrel-menu__btn:active {
  color: var(--DarkFiol);
}


.hidden-menu__realism , .hidden-menu__imperesizm , .hidden-menu__postimperesizm , .hidden-menu__avangard , .hidden-menu__footorizm{
  width: 150px;
  max-width: 150px;
  display: block;
  position: absolute;
  top: 45px;
  background-color:inherit;
  border-radius: 5px;
  background:rgba(0, 0, 0, 1.5);
}
.hidden-menu--active{
  display: none;
}
.realism-menu{
  left: -10px;
}
.imperesizm-menu{
  left: 190px;
}
.postimperesizm-menu{
  left: 450px;
}
.avangard-menu{
  left: 710px;
}
.footorizm-menu{
  left: 930px;
}
.genrel-menu__svg{
  transform: none
}
.genrel-menu__svg_rotate{
transform: rotate(180deg);
vertical-align: middle;

}

.hidden-menu__items{
padding: 10px;
margin: 5px;
color: white;
cursor: pointer;
border-radius: 15px;
}
.hidden-menu__items:hover{
  background-color: var(--DarkFiol);
  transition: background 0.2s ease-out;
}
.hidden-menu__items:active{
  background-color: var(--RegularFiol);
  transition: background 0.2s ease-out;
}
.header__form {
  display: flex;
  padding-right: 5px;
}
.header__form:focus-within {
  padding: 1px;
  outline: 2px solid var(--LightFiol);
}

.header__form-btn {
  padding-right: 12px;
  padding-top: 6px;
}
.header__form-input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.header__form-input:focus {
  color: var(--LightFiol);
}

.header__form-btn:focus {
  outline: none;
}


.header__svg{
  transform: rotate(360deg);
}
.header--svg{
  transform: rotate(540deg);
  vertical-align: bottom;
  transition: transform 0.3ms ease-in;
}

.form-svg {
  fill: white;
}
.header__form:hover .form-svg {
  fill: var(--LightFiol);
  transition: fill 0.2s ease-out;
}
.header__form:hover .header__form-input {
  border-bottom: 1px solid var(--LightFiol);
  transition: border 0.2s ease-out;
}





/* hero */

.hero{
  min-height: 700px;
  position: relative;
  margin-top: -70px;
}
.swiper-hero {
  max-width: 100%;
  height: 700px;
  z-index: 10;
}

.hero__title-container {
  max-height: 520px;
  position: absolute;
  float: left;
  z-index: 10;
  top: 135px;
}
.hero__title {
  max-width: 580px;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: white;
  padding-bottom: 17px;
}
.hero__subtitle {
  max-width: 570px;
  padding-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}
.hero__btn {
  max-width: 320px;
  padding: 22px 42px;
  background: #9d5cd0;
  font-size: 18px;
  border: 3px solid #9d5cd0;
  border-radius: 100px;
  color: white;
}
.hero__btn:hover {
  border: 3px solid var(--RegularFiol);
  transition: border 0.2s ease-out;
}
.hero__btn:focus {
  outline: none;
  border: 3px solid var(--DarkFiol);
}
.swiper-hero__prev,
.swiper-hero__next {
  display: none;
}


/* about-us */
.about-us {
  margin-top: 80px;
  margin-bottom: 70px;
}
.about-us__title {
  padding-bottom: 30px;
  color: #333333;
  font-weight: 400px;
  font-size: 48px;
}
.about-us__subtitle {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
}

/* gallery */
.gallery {
  min-height: 995px;
  padding-top: 80px;
  background-image: url("/img/img_desktop/gallery-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__section-flex {
  display: flex;
  
}
.gallery__left-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  margin-right: 40px;
  
}
.gallery-menu {
  max-width: 580px;
  min-height: 843px;
  display: flex;
  flex-direction: column;
  
}

.gallery__title {
  padding-bottom: 23px;
  font-size: var(--fontSizeTitle);
  line-height: 65px;
  color: white;
}
.gallery-menu__filter {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.choices {
  cursor: pointer;
  z-index: 10;
  background: inherit;
}
.choices__inner:hover {
  border-color: var(--DarkFiol);
  transition: border 0.2s ease-out;
}
.choices__inner {
  max-width: 570px;
  font-size: 16px;
  background: inherit;
  border-radius: 6px;
  color: white;
}
.choices[data-type*="select-one"]:after {
  content: url("/img/img_desktop/down.svg");
  border: none;
  right: 25px;
  margin-top: 0;
  top: 12px;
}
.choices[data-type*="select-one"].is-open:after {
  margin-top: 0;
}
.choices__list--dropdown {
  background-color: inherit;
  color: white;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--DarkFiol);
}
.choices__list--dropdown .choices__item--selectable {
  border: 1px solid white;
  border-radius: 6px;
}
.choices__list {
  border: none;
}
.choices__list--dropdown .choices__item {
  padding: 12px;
}

.gallery-menu__subtitle {
  color: white;
  max-width: 350px;
}
.gallery-menu--span{
  color: var(--DarkFiol);
}
.gallery-menu--span:hover{
  color: var(--LightFiol);
  transition: color 0.2s ease-in;
}
.gallery-menu__subtitle:last-child {
  margin-top: auto;
  line-height: 32px;
}


.gallery__right-section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  min-width: 0;
  max-width: 1200px;
}
.gallery__tabs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 25px;
}
.gallery__swiper-container{
  
  max-width: 100%;
  height: 750px;
}
.gallery__swiper-wrapper{
max-width: 1200px;
}
.gallery__swiper-slide{
  width: 350px;
  height: 350px;
}
.gallery__img{
  
  height: 350px;
}



.gallery__pagination{
  max-width: 56px;
  vertical-align: middle;
  margin-left: 12px;
  color: white;
}



.gallery__img:focus{
  border: 1px solid var(--LightFiol);
  border-radius: 20px;
  outline: none;
}
.gallery__btn-prev{
  outline: none;
}
.gallery__btn-next{
  outline: none;
}
.gallery-photo__btn-prew{
  outline: none;
}
.gallery-photo__btn-next{
  outline: none;
}

/* KATALOG */

.katalog{
margin-top: 80px;
}
.katalog__language {
  display: flex;
  padding-bottom: 18px;
  
}
.katalog__title {
  font-size: var(--fontSizeTitle);
  line-height: 65px;
  padding-right: 40px;

}
.katalog__btn{
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-right: 50px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.katalog__btn:hover{
  box-shadow: 0px 3px 45px var(--DarkFiol);
}
.katalog__country {
  vertical-align: bottom;
  border: none;
  outline: none;
}
.katalog__btn:focus {
  border: 3px solid var(--DarkFiol);
  border-radius: 30px;
  outline: none;

}

.katalog__subtitle {
  max-width: 1100px;
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 45px;
  display: none;
}

.katalog-painter {
  display: flex;
  max-width: 100%;
  align-items: flex-start;
}
.katalog-painter__information {
  max-width: 750px;
  margin-right: 50px;
  display: none;
}
.katalog-painter__avatar{
  min-width: 700px;
  height: 550px;
}
.katalog-painter_active{
  display: block;
}

.katalog-painter__title {
  padding-top: 25px;
  font-size: 24px;
  line-height: 43px;
  font-weight: 600;
  color: black;
}
.katalog-painter__life {
  font-size: 12px;
  color: gray;
  
}
.katalog-painter__subtitle {
  font-size: 16px;
  line-height: 33px;
}
.katalog_active{
  display: block;
}

.acardion {
  width: 950px;
  max-width: 950px;
}

.acardion__list {
  display: flex;
}

.tab__content{
  display: none;
}
.acardion_active{
  display: block;
}

.acardion__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 260px;
  margin-top: 25px;
  margin-right: 50px;
  font-size: 16px;
  line-height: 32px;
  padding-left: 5px;
  height: 350px;
  min-height: 350px;
}
.acardion__items::-webkit-scrollbar{
  width: 0;
}

.acordion__persons:not(:last-child){
margin-bottom: 15px;
}
.acordion__persons:hover{
  color: var(--LightFiol);
  cursor: pointer;
}

.acardion__svg{
  display: inline-block;
  margin-left: auto;
  outline: none;
}
.acardion__svg:focus{
border: 3px solid var(--LightFiol);
border-radius: 25px;
}
.genrel-bg:hover{
  fill: var(--RegularFiol);
  transition: fill 0.2s ease-in;
 
}
.ui-state-active .acardion__svg{
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.ui-state-active .acardion__svg{
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}


.ui-state-default {
  border: none;
  background: none;
  border-top: 1px solid #cacaca;
  border-radius: 0;
}
.ui-accordion .ui-accordion-header {
  display: flex;
  padding: 0;
  align-items: center; 
  color: #000;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

.ui-widget-content {
  border: none;
  padding: 0;
  
}
.ui-accordion .ui-accordion-content {
  padding: 0;
  margin: 0;
}
.ui-icon {
  display: none;
}

.acardion__list,
.ui-accordion-content,
.ui-helper-reset,
.ui-widget-content,
.ui-accordion-content-active {
  border: none;
  border-bottom: 1px solid var(--DarkFiol);
  border-radius: 0px;
}
.ui-state-active {
  border-bottom: 1px solid var(--DarkFiol);
  border-radius: 0px;
}



/* EVENTS */
.events {
  margin-top: 100px;
  margin-bottom: 80px;
}
.events__title {
  font-size: var(--fontSizeTitle);
  padding-bottom: 20px;
}
.events__article-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.events__entries{
  max-width: 490px;
}
.events__entries:not(:nth-child(3n)) {
  margin-right: 60px;
}
.events__entries:nth-child(n + 4){
  margin-top: 50px;
}
.events__img {
  width: 500px;
  height: 300px;
}
.events_active{
  display: none;
}
.events__data-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding-left: 58px;
  padding-bottom: 45px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.events__signature {
  margin-left: auto;
  padding-top: 12px;
  padding-right: 19px;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.events_subtitle {
  max-width: 420px;
  padding-top: 2px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #333333;
}
.events__description {
  padding-top: 7px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.events__hrefs {
  max-width: 92px;
  margin-top: auto;
  font-size: 16px;
  line-height: 32px;
  color: var(--LightFiol);
  border-bottom: 1px solid var(--RegularFiol);
}
.events__hrefs:hover{
    font-weight:bold;
    transition: font 0.2s ease-out;
}
.events__hrefs:active{
    color: var(--DarkFiol);
    border-bottom: 1px solid var(--DarkFiol);
    outline: none;
}
.events__btn{
display: block;
margin: 0 auto;
max-width: 188px;
margin-top: 45px;
padding: 17px 45px;
border: 2px solid var(--LightFiol);
box-sizing: border-box;
border-radius: 100px;
font-size: 18px;
line-height: 25px;
font-weight: bold;
color: var(--LightFiol);
outline: none;
}
.events__btn:hover{
    background-color: var(--LightFiol);
    color: white;
    transition: border , color 0.2s ease-out;   
}
.events__btn:focus{
  border: 3px solid var(--LightFiol);

}


/* EDITIONS */
.editions{
  max-width: 100%;
  padding-bottom: 70px;
  background-image: url("/img/img_desktop/edition-bg.png");
  background-size: cover;
}
.editions__flex{
  display: flex;
}
.editions__category{
  max-width: 341px; 
 margin-top: 80px;
}
.editions__title{
  padding-bottom: 25px;
  font-size:var(--fontSizeTitle);
  color: white;
}
.editions__heading{
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  font-style: normal;
  color: white;
}
.editions__list{
  min-height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;
}
.editions__items{
  color: white;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.editions__items:not(:last-child){
  padding-bottom: 14px;
}
.editions__inputs{
  display: none;
}
.editions__label{
  cursor: pointer;
}
.editions__label:hover{
  color: var(--RegularFiol);
  transition: color 0.2s ease-in;
}
.editions__span{
  margin-left: 10px;
 
}
.editions__inputs + .editions__span{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid white;
}
.editions__inputs + .editions__span::before{
position: absolute;
content: url("/img/img_desktop/circle.svg");
top:-72%;
left:32%;
opacity: 0;

}
.editions__inputs:checked + .editions__span{
border-color: var(--RegularFiol);
text-align: center;
}
.editions__inputs:checked + .editions__span::before{
opacity: 1;
transition: opacity 0.2s ease-in;
}






.price__table{
  display: flex;
  border: 1px solid white;
  border-radius: 6px;
}
.price__title{
  padding-bottom: 13px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: white;
}
.price__cell{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.price__cell:first-child{
  margin-left: 19px;
  margin-right: 5px;
}
.price__cell:nth-child(3n){
  margin-left: 14px;
  margin-right: 14px;
}
.price__cell:last-child{
  margin-left: 12px;
  margin-right: 19px;
}
.price_bg{
  max-width:82px;
  padding-left: 10px;
  background-color:rgba(157, 92, 208, 0.5);
  text-align: left;
  outline: none;
  border: none;
}
.editions__books{
  max-width: 1400px;
  padding-top: 105px;
  padding-left: 115px;
}
.editiions__tabs-container{
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  
}
.editions__pagination{
  margin-left: 13px;
  max-width: 55px;
  margin-right: 5px;
  padding-left: 5px;
  color: white;
}



.publications-book{
  min-height: 100%;
  max-width: 100%;
}

.publications-book__swiper-slide{
  display: flex;
}

.publications-book__items{
  max-width: 350px;
}
.publications-book__items:not(:last-child){
  margin-right: 50px;
}
.publications-book__title{
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  color: white;
}
.publications-book__price{
  float: right;
  padding-top: 23px;
  color: white;
}
.publications-book__author{
  padding-bottom: 15px;
  font-size: 14px;
  color: white;
}
.publications-book__btn{
  padding: 8px 25px;
  border: 2px solid var(--LightFiol);
  border-radius: 100px;
  color: white;
  outline: none;
}
.publications-book__cover{
  width: 350px;
  height: 390px;
}
.publications-book__btn:hover{
   background: var(--LightFiol);
   transition: background 0.3ms ease-in;
}
.publications-book__btn:focus{
  border: 2px solid white;
  transition: border 0.3ms ease-in;
}




.project{
  margin-top: 95px;
}
.project__title{
  font-size: var(--fontSizeTitle);
  color: black;
  padding-bottom: 25px;
}
.project__description{
 max-width: 1110px;
 font-size: 16px;
 line-height: 32px;
 color: black;

}
.project__hrefs{
  color: var(--RegularFiol);
}
.project__hrefs:hover{
  color: var(--DarkFiol);
  transition: color 0.2ms ease-in;
}
.partners-projects__title{
  padding-bottom: 23px;
  padding-top: 25px;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.project__titpool{
  position: relative;
  cursor:help;
  margin-left: 5px;
}
span.project__titpool span{
  position: relative;
  display: none;
  width: 264px;
  min-height: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: white;
  
}
span.project__titpool:hover span {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: -125px;
  background: #ffffff;
  background-color: #CACACA;
}





.partners-projects__list{
  display: flex;
}
.partners-projects__slide{
  display: flex;
  justify-content: center;
}
.partners-projects__items:not(:last-child){
  margin-right: 50px;
}

.swiper-button-next{
  outline: none;
}
.partners-projects__prev::after{
  content: "";
}
.partners-projects__next::after{
  content: "";
}


/* CONTACTS */
.contacts{
  margin-top: 80px;
}

.contacts__title{
  font-size: var(--fontSizeTitle);
  color: black;
  padding-bottom: 30px;
}
.contacts__information{
  display: flex;
  flex-direction: column;
  max-width: 682px;
  min-height: 700px;
}

.adress-contacts__title{
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: black;
}
.adress-contacts__subtitle{
  font-size: 14px;
}
.callback-contacts{
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 38px;
}
.callback-contacts__title{
  padding-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.callback-contacts__inputs{
  width: 400px;
  max-width: 400px;
  min-height: 40px;
  padding-left: 20px;
  border: 1px solid #333333;
  border-radius: 100px;
  outline: none;
}
.callback-contacts__inputs:focus{
  border: 3px solid var(--DarkFiol);
}
.callback-contacts__inputs::placeholder{
  color: gray;
}

.callback-contacts__inputs:not(:nth-child(2n+1)){
  margin-bottom: 22px;
}
.callback-contacts__btn{
  margin-top: 23px;
  max-width: 157px;
  padding: 17px 35px;
  border: 2px solid var(--LightFiol);
  border-radius: 100px;
  color: var(--LightFiol);
  outline: none;
}
.callback-contacts__btn:hover{
  background-color: var(--DarkFiol);
  color: white;
  transition: color 0.2s ease-in;
}
.callback-contacts__btn:focus{
  border: 3px solid var(--DarkFiol);
}
.social-contact__title{
  padding-bottom: 18px;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.social-contact__img{
  width: 38px;
  height: 38px;
  outline: none;
}
.social-contact__hrefs:not(:last-child){
  margin-right: 20px;
}
.social-contact__hrefs{
  height: 45px;
  display: inline-block;
  outline: none;
}

.social-contact__hrefs:focus{
filter: brightness(0.5);
transition: filter 0.2 ease-in;
}
.social-contact__hrefs:hover{
  filter: brightness(1.3);
  transition: filter 0.2 ease-in;
}
.contacts__flex-container{
  display: flex;
  justify-content: center;
}
.contacts__border{
  width: 795px;
  max-width: 795px;
  border-right: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  display: flex;
}
.contacts__information{
  display: flex;
  justify-content: center;
  padding-left: 140px;
}
.contacts__map{
  width: 1340px;
  max-width:1340px;
  min-height: 700px;
}


/* footer */
.footer{
  max-width: 100%;
  background-color: #000;
}
.footer_flex{
display: flex;
justify-content: space-between;
align-items: center;
min-height: 140px;
}
.footer__logo{
  max-width: 143px;
}
.fotter__social__img{
  width: 45px;
  height: 45px;
}
.fotter__social-hrefs{
  outline: none;
}

.fotter__social-hrefs:not(:last-child){
  margin-right: 18px;
}
.fotter__social-hrefs:hover{
  filter: brightness(0.5);
  transition: filter 0.2 ease-in;
}
.fotter__social-hrefs:focus{
  filter: brightness(0.5);
  transition: filter 0.2 ease-in;
}





.js-validate-error-label{
  margin-left: 20px;
  margin-bottom: 30px;
}
